
from dellve import *

class {{ benchmark_name }}(Benchmark): 
    
    name = '{{ benchmark_name }}'

    config = BenchmarkConfig([
        # TODO: add (key, value) pairs for your benchmark here...
    ])

    def routine(self):
        # TODO: define your custom benchmark routine here...

        # Help: to get configuration values, use this:
        # 
        #       CONFIG_VALUE = self.config['CONFIG_KEY']
        #

        # Help: to update benchmark progress value, use this:
        #
        #       self.progress = PROGRESS_VALUE
        #
        #       ... where 0 <= PROGRESS_VALUE <= 100
        raise NotImplementedError()